*{
    padding: 0;
    margin: 0;
}
.homepage{
    background-color: rgb(82, 148, 206);
    height: 100%;
    width: 100%;
    
}
.home{
    top: 80pt;
    position: relative;
    font-size: 30pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.inicio{
    top:20pt;
    height: 200pt;
    width: 100%;
    position: relative;
    align-self: center;
    font-family: Comic Sans MS, Comic Sans, cursive;

}
.inicio a{
    text-decoration: none;
    color: white;
}
.loginHome{
    color: white;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    border-radius: 30pt;
    font-size: 28pt;
    background-color: rgb(16, 46, 71);
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.loginHome:hover{
    background-color: rgb(10, 34, 54);
}
.inicio a:hover{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.219);
    transition: 0.4s;
    color:  rgb(108, 154, 194);
}
.ini{
    border-radius: 10pt;
    position: relative;
    background-color: black;
    width: 350pt;
    height: 200pt;
    transform: translateX(95%);
}
.ini2{
    position: inherit;
    display: inline-block;
    transform: translateY(50%) ;
}
#regis{
    position: relative;
    top:7pt;
    font-size: 15pt;
}





.logLogin{
    background-color:  rgb(16, 46, 71);;
}
.logLogin1{
    top: 70pt;
    position: relative;
    font-size: 30pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: Comic Sans MS, Comic Sans, cursive
}
.logLogin2{
    display: inline-block;
    top:20pt;
    height: 200pt;
    width: 300pt;
    position: relative;
    align-self: center;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: rgb(80, 82, 82);
    border-radius: 9pt;
}
.button{
    position: relative;
    top: 10pt;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    border-radius: 17pt;
    font-size: 13pt;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.button:hover{
    background-color: rgb(167, 61, 0);
}
#log{
    position: relative;
    top: 10pt;
}
.logLogin3{
    position: relative;
    padding: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    border: none;
    border-radius: 7pt;
    font-size: 13pt;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
.logLogin4{
    top: 7pt;
    position: relative;
}
.logLogin2 a{
    font-size: 15pt;
    color: white;
    text-decoration: none;
}
.logLogin2 a:hover{
    color:  rgb(252, 71, 0);
    
}